name: Fleetbench CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, arm-ubuntu-arm-22.04-16core]
        config: [fastbuild, opt]
        compiler:
          - name: gcc
            flags: ""
          - name: clang
            flags: "--config=clang"

    runs-on: ${{ matrix.os }}
    name: "Build/Test ${{ matrix.os }} ${{ matrix.compiler.name }} ${{ matrix.config }}"
    steps:
      - name: Make clang-15 default
        run: |
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-15 100
          sudo update-alternatives --set clang /usr/bin/clang-15
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build
        run: |
          bazel build -c ${{ matrix.config }} ${{ matrix.compiler.flags }} //...
      - name: Test
        run: |
          bazel test -c ${{ matrix.config }} ${{ matrix.compiler.flags }} --test_output=errors //...

