name: monthly_release
on:
  schedule:
    - cron:  "0 0 1 * *"  # First day of month

jobs:
  monthly_release:
    name: GitHub Monthly Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Update checkout version and add fetch-depth
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: anothrNick/github-tag-action@1.64.0
        id: set_release_tag
        env:
          # Use Fleetbench PAT secret
          GITHUB_TOKEN: ${{ secrets.FLEETBENCH_PAT }} 
          WITH_V: true
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 2.0.1
          
      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: "${{ secrets.FLEETBENCH_PAT }}"
          prerelease: true
          automatic_release_tag: ${{ steps.set_release_tag.outputs.new_tag }}